$width: 300px;

.Search{
    width: $width;
    height: $width/5;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;   
    margin-top: 40px;
    &--input{
       display: block;
       width: 100%;
       margin-top: 10px;
       border: none;
       border-radius: 0;
       color: white;
       background: rgb(10, 10, 10);
       font-size: $width/15;
       transition: 0.3s ease;
       &:valid {
        ~label {
            top: 0;
            font: 700 $width/25 Roboto;
            color: rgba(white, .5);
        }
       }
       &:focus{
           outline:none;
           ~label {
               top: 0;
               font: 700 $width/25 Roboto;
               color: white;
           }
        }
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px #333 inset;
            -webkit-text-fill-color: white;
        }
    }
}
